body { background: #838c1c; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 27px; display: flex; }
.block-helper-0 { color: #cf25cf; font-size: 14px; margin-bottom: 5px; }
.block-uploader-1 { color: #7fac5c; font-size: 20px; margin-bottom: 5px; }
.block-cart-2 { color: #4a070d; font-size: 21px; margin-bottom: 5px; }
.block-config-3 { color: #1da514; font-size: 13px; margin-bottom: 5px; }
.block-uploader-4 { color: #622828; font-size: 19px; margin-bottom: 5px; }
.block-cache-5 { color: #64aec6; font-size: 17px; margin-bottom: 5px; }